body{
    background-color: blueviolet;
}
h1{
    color:rgb(218, 55, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 7rem;
}
p{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.2rem;
}
.para{
    text-align: center;
    color: orangered;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.para:hover{
    margin-left: 0.5rem;
}
.para2{
    color: greenyellow;
    margin-left: 1.5rem;
}
.para3{
    color: rgb(233, 233, 12);
}
img{
    position: absolute;
    top: 12rem;
    left: 15rem;
    width:150px;
    cursor: pointer;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}
img:hover{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}